@page "/diseaseoverview"

<h2>Employee Overview</h2>

@if (Diseases == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>Disease</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var disease in Diseases)
            {
                <tr>
                    <td>@disease.Name</td>
                </tr>
            }

        </tbody>
    </table>
}