@page "/"

<PageTitle>Index</PageTitle>

<h1>Onkogenai</h1>

Informacija pacientas bei jų šeimos nariams ir visuomenei apie apie onkogenus ir su jais susijusią infomacija.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
